In [1]:
# slight exploration into other datasets

In [2]:
import pandas as pd
import os

In [5]:
pd.read_csv(os.path.join('2020eve', '20mil.csv'))

,MIL202008030,CHA,1,0,0.1,0.2,0.3,0.4,0.5,robel002,...,F.2,0.6,0.7,F.3,F.4,0.8,1.3,0.9,0.10,0.11
0,MIL202008030,CHA,1,0,0,1,1,0,0,moncy001,...,F,0,0,F,F,0,2,3,0,0
1,MIL202008030,CHA,1,0,0,1,2,0,0,abrej003,...,F,1,1,F,F,0,0,0,3,4
2,MIL202008030,CHA,1,0,1,3,2,1,0,grany001,...,T,1,1,F,F,0,0,0,0,4
3,MIL202008030,CHA,1,0,2,3,2,2,0,jimee001,...,F,1,0,F,F,0,0,0,0,0
4,MIL202008030,CHA,1,1,0,0,0,2,0,healr001,...,F,1,0,F,F,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,MIL202009252,SLN,7,1,0,3,2,9,1,voged001,...,F,1,0,F,F,0,0,0,0,0
2205,MIL202009252,SLN,7,1,1,0,1,9,1,hiurk001,...,F,1,0,F,F,0,0,0,0,0
2206,MIL202009252,SLN,7,1,2,3,1,9,1,petej002,...,F,0,0,F,F,0,1,0,0,0
2207,MIL202009252,SLN,7,1,2,2,1,9,1,sogae001,...,F,0,0,F,F,0,1,2,0,0
2208,MIL202009252,SLN,7,1,2,2,0,9,1,arcio002,...,F,1,0,F,F,0,0,1,2,0

In [14]:
pitching_df = pd.read_csv(os.path.join('lahman2020','csvs','core', 'Pitching.csv'))
pitching_df.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN

In [16]:
pitching_df.sort_values(by='SO', ascending=False)

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
878,kilroma01,1886,1,BL2,AA,29,34,68,68,66,...,NaN,61,19.0,1,2469.0,0,350,NaN,NaN,NaN
913,ramseto01,1886,1,LS2,AA,38,27,67,67,66,...,NaN,35,12.0,0,2477.0,0,297,NaN,NaN,NaN
528,dailyhu01,1884,1,CHU,UA,27,27,56,56,54,...,NaN,47,NaN,0,2009.0,0,257,NaN,NaN,NaN
650,radboch01,1884,1,PRO,NL,60,12,75,73,73,...,NaN,34,NaN,0,2672.0,2,216,NaN,NaN,NaN
497,buffich01,1884,1,BSN,NL,48,16,67,67,63,...,NaN,24,NaN,0,2383.0,0,225,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5144,zabelzi01,1913,1,CHN,NL,1,0,1,1,0,...,NaN,0,1.0,0,19.0,0,0,NaN,NaN,NaN
46496,rominan01,2018,1,SEA,AL,0,0,3,0,0,...,0.0,1,1.0,0,17.0,3,5,0.0,0.0,0.0
43088,overbly01,2014,1,MIL,NL,0,0,1,0,0,...,0.0,0,0.0,0,1.0,1,0,0.0,0.0,0.0
16871,coombda01,1963,1,HOU,NL,0,0,1,0,0,...,0.0,0,0.0,0,4.0,0,1,NaN,NaN,NaN
39255,greenni01,2009,1,BOS,AL,0,0,1,0,0,...,0.0,0,0.0,0,9.0,1,0,0.0,0.0,0.0

In [20]:
pitching_df.groupby('playerID')['SO'].sum().sort_values()

playerID
mcaleji01       0
blockte01       0
phillja01       0
devinha01       0
hernaen02       0
             ...
blylebe01    3701
carltst01    4136
clemero02    4672
johnsra05    4875
ryanno01     5714
Name: SO, Length: 9993, dtype: int64

In [23]:
pitching_df[pitching_df['G'] > 20].sort_values('ERA')

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
45524,olsonty01,2017,1,CLE,AL,1,0,30,0,0,...,0.0,0,1.0,0,77.0,4,0,1.0,0.0,4.0
44775,rodnefe01,2016,1,SDN,NL,0,1,28,0,0,...,0.0,1,2.0,1,109.0,24,2,0.0,0.0,3.0
48369,willide03,2020,1,MIL,NL,4,1,22,0,0,...,0.0,3,1.0,0,100.0,1,4,0.0,0.0,2.0
44195,benoijo01,2016,2,TOR,AL,2,0,25,0,0,...,0.0,0,0.0,0,93.0,4,1,0.0,1.0,4.0
47806,diekmja01,2020,1,OAK,AL,2,0,21,0,0,...,1.0,0,1.0,0,84.0,2,2,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33733,embreal01,2001,1,SFN,NL,0,2,22,0,0,...,2.0,1,2.0,0,106.0,7,26,0.0,3.0,0.0
23119,hamilda01,1980,1,OAK,AL,0,3,21,1,0,...,2.0,0,3.0,1,164.0,3,39,3.0,2.0,1.0
45892,boyerbl01,2018,1,KCA,AL,2,1,21,0,0,...,3.0,0,0.0,0,109.0,8,33,0.0,3.0,1.0
45342,jimenjo02,2017,1,DET,AL,0,2,24,0,0,...,0.0,0,2.0,0,99.0,6,28,0.0,1.0,0.0
32179,tatisra01,1998,1,TBA,AL,0,0,22,0,0,...,1.0,1,1.0,1,72.0,7,19,0.0,0.0,2.0

In [24]:
batting_df = pd.read_csv(os.path.join('lahman2020','csvs','core', 'Batting.csv'))

In [29]:
batting_df.sort_values('3B', ascending=False)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
13804,wilsoch01,1912,1,PIT,NL,152,583,80,175,19,...,95.0,16.0,NaN,35,67.0,NaN,2.0,23.0,NaN,NaN
6286,reitzhe01,1894,1,BLN,NL,108,446,86,135,22,...,105.0,18.0,NaN,42,24.0,NaN,7.0,7.0,NaN,NaN
3356,orrda01,1886,1,NY4,AA,136,571,93,193,25,...,91.0,16.0,NaN,17,NaN,NaN,5.0,NaN,NaN,NaN
6056,werdepe01,1893,1,SLN,NL,125,500,73,138,22,...,94.0,11.0,NaN,49,25.0,NaN,7.0,NaN,NaN,NaN
7025,davisha01,1897,1,PIT,NL,111,429,70,131,10,...,63.0,21.0,NaN,26,40.0,NaN,10.0,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48492,goossgr01,1970,2,WS2,AL,21,36,2,8,3,...,1.0,0.0,0.0,2,8.0,0.0,0.0,0.0,1.0,1.0
48491,goossgr01,1970,1,ML4,AL,21,47,3,12,3,...,3.0,0.0,0.0,10,12.0,0.0,2.0,0.0,0.0,1.0
48490,goodsed01,1970,1,SFN,NL,7,11,1,3,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
48489,gonzato01,1970,2,CAL,AL,26,92,9,28,2,...,12.0,3.0,2.0,2,11.0,0.0,1.0,2.0,0.0,3.0
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,10.0,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0

In [33]:
batting_df.groupby('yearID')['3B'].sum()

yearID
1871    239
1872    145
1873    211
1874    194
1875    273
       ...
2016    873
2017    795
2018    847
2019    785
2020    241
Name: 3B, Length: 150, dtype: int64